

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


#aleche_negre {
    text-align: center;
    color: #fff;
    background: url(../img/back_resi.png);
    background-image: repeating-linear-gradient();
    background-size:cover;
    position: fixed;
    width:100%;
    z-index: 2;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-bottom: 50px;
}
#aleche_blanc {
    text-align: center;
    color: #fff;
    background: url(../img/back_resi_white.png  );
    background-image: repeating-linear-gradient();
    background-size:cover;
    position: fixed;
    width:100%;
    z-index: 2;
    display: none;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-bottom: 50px;
}
#aleche_blanc_wrapper {
    text-align: center;
    color: #fff;
    background: url(../img/back_resi_white.png  );
    background-image: repeating-linear-gradient();
    background-size:cover;
    position: fixed;
    width:100%;
    z-index: -1;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-bottom: 50px;
    display: none;
}


#section1_negro{
padding-top:50px;height:500px;color: #fff; background-color: black;  z-index:2;

}
#section1 {
        padding-top:50px;
        height:auto;color: #fff;
        background-color: #00bcd4;
        z-index: 2;
}

#section2 {

  height:auto;
  background-color: #FF7A00;
  z-index: 2;}
#section2b {

    height:auto;
    background-color: white;
    z-index: 2;}


#section3 {
        padding-top:20px;

        padding-left: 50px;
        height:auto;
        color: #fff;
        background-color: #ff9800;
        z-index: 2;}

#section41 {

        height:auto;
        color: #fff;
        background-color: #00bcd4;
        z-index: 2;}

#section42 {
        color: #fff;
        background-color: #009688;
        z-index: 2;
        height: auto;
    }

#myNavbar{
  background: url(../img/top.png);
  text-align: center;
  color: #fff;
  background-image: repeating-linear-gradient();
  background-size:cover;
  position: fixed;
  padding-right: 20px;
  width:100%;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;

}
#row_personal_info{
align-items: center;
}
#imatge_agus{
  padding-bottom: 35px;
  padding-right: 20px;
}

 #personal_info_2{
  margin-top: 40px;
  padding-bottom: 10px;
}

#personal_info_3{
  margin-top: 10px;
  padding-bottom: 10px;
}
#personal_info_3_lista li a{
margin-left: 10px;
color:white;
font-size: 14px
}

#container_edu{
  margin-left: 20px;
}

.time {
  color:rgba(255, 255, 255, 0.6);
  font-weight:500;
  margin-bottom:0;
  margin-left: 25px;
}

.content-wrapper{
    background-color: white;
    top: 87%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;
}
.least-preview,.close{
    margin-top: 50px;
}

.fila_relleno{
    height: 1 50px;
    z-index: -11;
}

/* Gallery ============================*/
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
/* Gallery ============================*/

.centered {
	text-align: center
}
.mt {
	margin-top: 80px;
}
.mb {
	margin-bottom: 80px;
}

/*================================*/
/*================================*/

.navbar-brand {
  color:red;
	font-weight: 700;
  z-index:5;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
}


/*================================*/
/*================================*/


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 3px;
  border: 1px solid #aeaeae
}

body::-webkit-scrollbar-thumb:hover {
  background: white;
}


/* HERE ENDS THE MAGIC */
header .container {
    padding-top: 150px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

section {
    padding: 100px 0;
    width: 100%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

section.primary h2{
    color: #2c3e50;
    }

section.success{
    background-color: #18bc9c;
    color: #fff;
    }




 @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
footer { background-color:#0c1a1e; min-height:50px; font-family: 'Open Sans', sans-serif; }
          .footerleft { margin-top:50px; padding:0 36px; }
          .logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

          .footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
          .footerleft p i { width:20px; color:#999;}


          .paddingtop-bottom {  margin-top:50px;}
          .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
          .footer-ul li { line-height:29px; font-size:12px;}
          .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
          .footer-ul i { margin-right:10px;}
          .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

           .copyright { min-height:40px; background-color:#000000;}
           .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}





/*
            * A better looking default horizontal rule
            */

            hr {
               display: block;
               height: 1px;
               border: 0;
               border-top: 1px solid #ccc;
               margin: 1em 0;
               padding: 0;
           }
